body {
	font-family: sans-serif;
	font-size: medium;
	background-color: rgb(35, 35, 35);
	color: white;
	height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 8px;
	/*overflow-y: hidden;*/
}

.App-logo {
	height: 100px;
	animation: App-logo-spin infinite 2s linear;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}